:markdown

  ## Responsibilities

  * Set the brand of GitLab
  * Design a coherent brand image (logo's, icons, colors, typography, etc.)
  * Redesign [our static website](/)
  * Design our marketing materials
  * Design our swag and event items (t-shirts, stickers, banners, etc.)
  * Design for special occasions (product releases, events, etc.)
  * Create exciting marketing materials
  * Create printed materials (business cards, banners, brochures)
  * Create web advertisements for things like webcasts, landing pages, partnerships, and feature releases.
  * Build and maintain slide decks for various events and presentations.
  *Create, update, and maintain diagrams and infographics on the GitLab website and [Documentation](/documentation) pages.
